* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
}

/* Header css*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    color: white;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 2.5rem;
}
nav {
    text-align: right;
    margin-top: 15px;
    margin-right: 50px;
}
nav > a {
    color: white;
    text-decoration: none;
    font-size: 2rem;   
    position: relative;
}
nav > a::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: crimson;
    transition: ease-in-out 0.7s;
    transform: scaleX(0);
}
nav > a:hover::after {
    transform: scaleX(1);
}
nav .icon-1 {
    padding-top: 10px;
}
nav .icon-1 > a {
    padding-left: 10px;
}
nav .icon-2 {
    padding-top: 10px;
    display: none;
}
nav .icon-2 > a {
    padding-left: 10px;
}


@media (max-width:756px) {
    header h2 {
        margin-left: 20px;
        margin-top: 15px;
        font-size: 1.5rem;
    }
    nav {
        margin-top: 25px;
        margin-right: 15px;
    }
    nav > a {
        font-size: 1rem;
    }
    nav .icon-1 {
        display: none;
    }
    nav .icon-2 {
        padding-top: 2px;
        display: block;
    }
    nav .icon-2 > a {
        padding-left: 3px;
    }
}

/* footer */

footer {
    margin: 30px 0px;
    background-color: #333333;
}
form {
    padding: 35px;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.cont-1 > h2 {
    color: white;
    font-size: 4rem;
    position: relative;
}
.cont-1 > h2::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: crimson;
    transition: ease-in-out 0.7s;
    transform: scaleX(1);
}
.cont-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px yellow solid;
    background-color: #d9d9d9;
    border-radius: 10px;
}
.cont-2 label {
    color: black;
    font-size: 1.3rem;
}
form > .arrange {
    display: flex;
}
.arrange .Fullname {
    margin-right: 70px;
}
form input, select, textarea {
    outline: 0;
    font-size: 13px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgb(37, 133, 197);
    background-color: transparent;
}
form textarea {
    width: 85%;
    height: 230px;
}
form .textmesg {
    padding-top: 25px;
    padding-bottom: 10px;
}
form .action input {
    cursor: pointer;
    font-weight: 550;
    height: 35px;
    padding: 0 15px;
    margin-right: 10px;
}

@media (max-width:600px) {
    footer {
        margin: 30px 0px;
    }
    .cont-1 {
        margin-top: 20px;
    }
    .cont-1 > h2 {
        font-size: 2rem;
    }
    .cont-2 {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .cont-2 label {
        font-size: 0.9rem;
    }
    form {
        padding: 15px;
    }
    .arrange .Fullname {
        margin-right: 30px;
    }
    form input, select, textarea {
        font-size: 8px;
        padding: 3px;
    }
    form textarea {
        width: 65%;
        height: 90px;
    }
    form .textmesg {
        padding-top: 10px;
        padding-bottom: 8px;
    }
    form .action input {
        height: 20px;
        padding: 0 5px;
        margin-right: 8px;
    }
}


/* main css*/

/* part 1 */

.first {
    margin: 50px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#heroimg {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(rgb(211, 214, 25), orange, rgb(199, 66, 88), purple, blue);
    padding: 10px;
    overflow: hidden;
}
#heroimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all ease 1s;
}
#heroimg:hover img {
    scale: 1.2 ;
}

#content p {
    font-size: 1.5rem;
    color: white;
    padding-top: 15px;
}
.second  p {
    color: white;
    font-size: 2.8rem; 
    display: inline-block;
    margin: 0px 80px;
}

/* part 2 */

section {
    margin: 3% 5% 3%;
    padding: 2%;
    background-color: #222222;
}
section h3 {
    font-size: 1.7rem;
    color: white;
}
section > div {
    margin-top: 10px;
    margin-bottom: 10px;
}
section > div > P {
    padding-left: 8%;
    font-size: 1.5rem;
    color: white;
    padding-top: 15px;
}
.Experience ol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
}
.test > li {
    font-size: 1.5rem;
}
.Kyra {
    padding: 6px 0px 10px;
}
.Kyra summary {
    font-size: 1.4rem;
    cursor: pointer;
}
.Kyra ul {
    padding-top: 8px;
}
.Kyra ul li {
    padding-top: 4px;
}

/* media querry of main tag*/

@media (max-width:560px) {
    .first {
        margin: 25px;
        padding: 0px;
    }
    #heroimg {
        width: 225px;
        height: 275px;
        padding: 6px;
    }
    #content p {
        font-size: 1.3rem;
        padding-top: 12px;
    }
    .second  p {
        font-size: 1.2rem; 
        margin: 0px 30px;
    }
    section {
        margin: 4% 5% 4%;
    }
    section h3 {
        font-size: 1rem;
    }
    section > div {
        margin-top: 5px;
    }
    section > div > P {
        padding-left: 10%;
        font-size: 0.9rem;
        padding-top: 7px;
    }
    .test {
        margin: 0px 30px 0px;
        padding-bottom: 10px ;
    }
    .test > li {
        font-size: 1rem;
    }
    .Kyra {
        padding: 6px 0px 10px;
    }
    .Kyra  summary {
        font-size: 0.9em;
    }
    .Kyra ul {
        padding-top: 6px;
    }
    .Kyra ul li {
        padding-top: 2px;
        font-size: 0.8rem;
    }
}
